<div class="first-form">
    <form action="submit" method="post" autocomplete="off">
  
    <div class="containeri">
      <label for="dname"><b>Name</b></label>
      <input type="text" placeholder="Enter Departement" [(ngModel)]="departmentobj.Name" name="dname" required>
  
      <label for="course">Number of Courses<b></b></label>
      <input type="number" placeholder="Enter Course Code" [(ngModel)]="departmentobj.Courses" name="ccode" required>

      <label for="description"><b>Description</b></label>
      <input type="text" placeholder="Enter Description" [(ngModel)]="departmentobj.Description" name="description" required>

      <label for="dname"><b>Number of Lecturers</b></label>
      <input type="number" placeholder="Enter Number of Lecturers" [(ngModel)]="departmentobj.Lecturers" name="Lecturers" required>

      <label for="dname"><b>Number of Students</b></label>
      <input type="number" placeholder="Enter number of Students" [(ngModel)]="departmentobj.Students" name="dname" required>
  
      <button type="submit" name="register">Register</button>
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="resetbtn">Reset</button>
    </div>
  </form>
  
     </div>
