<!-- <div class="first-form">
    <form action="submit" method="post" autocomplete="off">
  
    <div class="containeri">
      <label for="c1name"><b>Classroom Name</b></label>
      <input type="text" placeholder="Enter Classroom name" [(ngModel)]="classroomobj.Name" name="c1name" required>

      <label for="dep"><b>Description</b></label>
      <input type="text" placeholder="Enter Description" [(ngModel)]="classroomobj.Description" name="dep" required>

      <label for="Location"><b>Location</b></label>
      <input type="text" placeholder="Enter Location" [(ngModel)]="classroomobj.Location" name="Location" required>
  
  
      <button type="submit" name="register">Register</button>
      <button type="button" class="cancelbtn">All Students </button>
    </div>
  </form>
 </div> -->

 <div class="p-10">
  <h1 class="text-2xl font-semibold">All Classrooms</h1>
  <div class="grid grid-cols-4 gap-5" >
      @for(item of (admin$ | async); track item){
      <div class="shadow rounded-md p-3">
          <span>
              {{item.Name}}
            
          </span>
      </div>
      }
      </div>
</div>