<div class="first-form">
    <form action="submit" method="post" autocomplete="off">
  
    <div class="containeri">
      <label for="oname"><b>Name</b></label>
      <input type="text" placeholder="Enter name of Office" name="oname" required>
  
      <label for="Addr"><b>Address</b></label>
      <input type="text" placeholder="Enter Address" name="Addr" required>

      <label for="dep"><b>Department</b></label>
      <input type="text" placeholder="Enter Department" name="dep" required>
  
      <button type="submit" name="register">Register</button>
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Reset</button>
    </div>
  </form>
  
     </div>
