<div class=" text-center p-7   grid grid-cols-7 gap-1 bg-blue-500 text-white text-2xl font-semibold ">

    <a class="text-center" [routerLink]="'/administrator'"> 
        Administrators</a>
    
    <a [routerLink]="'/classroom'">
        Classrooms</a>
    
    <a [routerLink]="'/course'">
        Courses</a>
    
    <a [routerLink]="'/department'">
        Departments</a>
    
    <a [routerLink]="'/lecturer'">
        Lecturers</a>
    
    <a [routerLink]="'/office'">
        Offices</a>
    
    <a [routerLink]="'/student'">
        Students</a>
</div>

<router-outlet > </router-outlet>
