<div class="p-10 text-2xl font-semibold">

   <button> <a [routerLink]="'/administrator'"> 
        Administrators</a> </button>
    
    <a [routerLink]="'/classroom'">
        Classrooms</a>
    
    <a [routerLink]="'/course'">
        Courses</a>
    
    <a [routerLink]="'/department'">
        Departments</a>
    
    <a [routerLink]="'/lecturer'">
        lecturers</a>
    
    <a [routerLink]="'/office'">
        Offices</a>
    
    <a [routerLink]="'/student'">
        Students</a>
    <router-outlet > </router-outlet>
    
</div>
