
<div class="my-10 shadow-2xl w-2/5 mx-auto  rounded-md">
<div class="flex justify-between pt-2 items-center">
  <div></div>
  <a [routerLink]="'/student'" class="bg-red-600 text-white rounded-full px-4 py-2">X</a>
</div>
  <div class="pl-64 pt-1 items-center" >
    <div class="text-2xl font-sans font-bold">Add Student</div>
</div>
<form [formGroup]="form" class="p-7" (ngSubmit)="onSubmit()">
  
<div>
  <input formControlName="name" type="text" class="border w-full p-2 px-4 rounded-md my-1" placeholder="Name" required>
  @if(form.controls['name'].errors && form.controls['name'].touched){
    <span class="text-red-400">
      Name is required
    </span>
  }
</div>  

<div>
  <input formControlName="gender" type="text" class="border w-full p-2 px-4 rounded-md my-1" placeholder="Enter Gender" required>
  @if(form.controls['gender'].errors && form.controls['gender'].touched){
    <span class="text-red-400">
      Gender is required
    </span>
  }
</div>   

<div>
  <input formControlName="dob" type="date" class="border w-full p-2 px-4 rounded-md my-1" placeholder="Date of Birth" required>
  @if(form.controls['dob'].errors && form.controls['dob'].touched){
    <span class="text-red-400">
      Date of birth is required
    </span>
  }
</div> 

<div>
  <input formControlName="address" type="text" placeholder="Enter Address" class="border w-full p-2 px-4 rounded-md my-1" required>
  @if(form.controls['address'].errors && form.controls['address'].touched){
    <span class="text-red-400">
      Address is required
    </span>
  }
</div>

<div>
  <input formControlName="email" type="email" placeholder="Enter Email" class="border w-full p-2 px-4 rounded-md my-1" required>
  @if(form.controls['email'].errors && form.controls['email'].touched){
    <span class="text-red-400">
      Invalid email
    </span>
  }
</div>

<div>
  <input formControlName="phone" type="number" placeholder="Enter Phone number" class="border w-full p-2 px-4 rounded-md my-1" required>
  @if(form.controls['phone'].errors && form.controls['phone'].touched){
    <span class="text-red-400">
      Phone is required
    </span>
  }
</div>

<div>
  <input formControlName="status" type="text" placeholder="Enter Marital status" class="border w-full p-2 px-4 rounded-md my-1" required>
  @if(form.controls['status'].errors && form.controls['status'].touched){
    <span class="text-red-400">
      Status is required
    </span>
  }
</div>

<div>
  <input formControlName="matricle" type="text" placeholder="Matricle" class="border w-full p-2 px-4 rounded-md my-1" required>
  @if(form.controls['matricle'].errors && form.controls['matricle'].touched){
    <span class="text-red-400">
      Matricle is required
    </span>
  }
</div>

<div>
  <input formControlName="nationality" type="text" placeholder="Nationality" class="border w-full p-2 px-4 rounded-md my-1" required>
  @if(form.controls['nationality'].errors && form.controls['nationality'].touched){
    <span class="text-red-400">
      Nationality is required
    </span>
  }
 </div>

 <div>
  <input formControlName="department" type="text" placeholder="Department" class="border w-full p-2 px-4 rounded-md my-1" required>
  @if(form.controls['department'].errors && form.controls['department'].touched){
    <span class="text-red-400">
      Department is required
    </span>
  }
</div>

      <div class="pl-60 my-3">
      <button class="bg-blue-500 rounded-md py-2 shadow-md px-7 text-white font-semibold font-sans">Add</button>
    </div>

    </form>
  </div>