
<div class="p-10">
    <div class="grid grid-cols-2 place-items-end">
        <h1 class="text-2xl font-semibold">All Students</h1>
          <a class="text-l text-center w-40 h-10 bg-blue-500 rounded-md p-2 text-white font-semibold font-sans" [routerLink]="'/student-form'">Add Student</a>
        </div>
    
      <div class="grid grid-cols-3 gap-5 p-6" >
      @for(item of students; track item){
        <div class="font-sans font-semibold text-xl shadow-2xl rounded-md p-3">

            <div class ="text-center text-white bg-blue-500 rounded-full p-5 w-10 h-10 flex gap-10 justify-center items-center font-bold">
              {{$index+1}}
              
          </div>
          <div class="pl-10">
              <div class="gap-11 items-center">
              <div>
                Name: {{item.name}}
              </div>
    
              <div>
                Address: {{item.address}}
              </div>
    
              <div>
                Department: {{item.department}}
              </div>

              <div>
                Date of Birth: {{item.dob}}
              </div>

              <div>
                Gender: {{item.gender}}
              </div>

              <div>
                Phone Number: {{item.phone}}
              </div>

              <div>
                Email: {{item.email}}
              </div>

              <div>
                Salary: {{item.matricle}}
              </div>

              <div>
                Marital Status: {{item.status}}
              </div>

              <div>
                Nationality: {{item.nationality}}
              </div>
            </div>
              <div class="p-5 grid grid-cols-2 gap-5">
                <button (click)="delete(item.id)" class="bg-red-600 rounded-md p-2 text-white font-semibold font-sans"> Delete</button>
                <a [routerLink]="['/update-student-form/',item.id]"  class="bg-blue-500 rounded-md p-2 text-white text-center font-semibold font-sans"> Edit</a>
             </div>
          </div>
      </div>
          }
          </div>
    </div>