<!-- <div class="first-form">
    <form action="submit" method="post" autocomplete="off">
  
    <div class="containeri">
      <label for="fname"><b>Full Names</b></label>
      <input type="text" placeholder="Enter Full name" [(ngModel)]="studentobj.Name" name="fname" required>
  
      <label for="Gen"><b>Gender</b></label>
      <input type="text" placeholder="Enter Gender" [(ngModel)]="studentobj.Gender" name="gender" required>

      <label for="DOB"><b>Date of Birth</b></label>
      <input type="date" placeholder="Date of Birth" [(ngModel)]="studentobj.DOB" name="DOB" required>
  
      <label for="Addr"><b>Address</b></label>
      <input type="text" placeholder="Enter Address" [(ngModel)]="studentobj.Address" name="Addr" required>

      <label for="email"><b>Email</b></label>
      <input type="email" placeholder="Enter Email" [(ngModel)]="studentobj.Email" name="email" required>
  
      <label for="phn"><b>Phone/Guidiant phone number</b></label>
      <input type="text" placeholder="Enter Phone number" [(ngModel)]="studentobj.Phone" name="phn" required>

      <label for="status"><b>Status</b></label>
      <input type="text" placeholder="Enter Marital status" [(ngModel)]="studentobj.Status" name="status" required>
  
      <label for="nat"><b>Nationality</b></label>
      <input type="text" placeholder="Enter Nationality" [(ngModel)]="studentobj.Nationality" name="nat" required>

      <label for="dep"><b>Department</b></label>
      <input type="text" placeholder="Enter Department" [(ngModel)]="studentobj.Department" name="dep" required>

      <label for="dep"><b>Matricle</b></label>
      <input type="text" placeholder="Enter Matricle" [(ngModel)]="studentobj.Matricle" name="dep" required>
  
      <button type="submit" name="register">Register</button>
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Reset</button>
    </div>
  </form>
  
     </div> -->

     <div class="p-10">
      <h1 class="text-2xl font-semibold">All Students</h1>
      <div class="grid grid-cols-4 gap-5" >
          @for(item of (admin$ | async); track item){
          <div class="shadow rounded-md p-3">
              <span>
                  {{item.Name}}
                
              </span>
          </div>
          }
          </div>
  </div>