<div class="first-form">
    <form action="submit" method="post" autocomplete="off">
  
    <div class="containeri">
      <label for="cname"><b>Course Name</b></label>
      <input type="text" placeholder="Enter Course name" [(ngModel)]="courseobj.Name" name="cname" required>
  
      <label for="ccode"><b>Code</b></label>
      <input type="text" placeholder="Enter Course Code" [(ngModel)]="courseobj.Code" name="ccode" required>

      <label for="dep"><b>Department</b></label>
      <input type="text" placeholder="Enter Department" [(ngModel)]="courseobj.Department" name="dep" required>

      <label for="dep"><b>Description</b></label>
      <input type="text" placeholder="Enter Description" [(ngModel)]="courseobj.Description" name="dep" required>

  
      <button type="submit" name="register">Register</button>
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Reset</button>
    </div>
  </form>
  
     </div>
